

<% content_for :title, "Edit Admin" %>

<h1>Editing Admin</h1>

<%= render "form", admin: @admin %>

<br>

<div class = "container">
  <%= link_to "Show this admin", @admin %> |
  <%= link_to "Back to admins", admins_path%>
</div>
