
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="@container">
      <div class="@[480px]:p-4">
        <div
          class="flex min-h-[480px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-start justify-end px-4 pb-10 @[480px]:px-10"
          style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://cdn.usegalileo.ai/sdxl10/97b3aba1-5e42-4a23-9d36-723f1dfa1718.png");'
        >
          <div class="flex flex-col gap-2 text-left">
            <h1
              class="text-white text-4xl font-black leading-tight tracking-[-0.033em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
            >
              Welcome to the KANM Radio Show Scheduler
            </h1>
            <h2 class="text-white text-sm font-normal leading-normal @[480px]:text-base @[480px]:font-normal @[480px]:leading-normal">
              We are a student-run radio station at Texas A&amp;M University. This is where you can upload your radio show preferences spreadsheets and populate the best schedule possible. If you
              have any questions, feel free to reach out to our Programming Director at programming@kanm.org.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
